@use "../abstracts" as *;

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
 * Basic styles for links
 */
// ::-webkit-scrollbar {
//   width: 10px;
//   padding-right: 5px;
// }
// ::-webkit-scrollbar-thumb {
//   width: 10px;
//   background-color: $black;
//   // border: 2px solid $white;
//   margin-right: 5px;
// }

input:-internal-autofill-selected::placeholder {
  color: inherit !important;
  opacity: 1 !important;
  background-color: transparent !important;
}

a {
  // color: $white;
  text-decoration: none;

  @include on-event {
    color: rgb(0, 0, 192);
    // text-decoration: underline;
  }
}

img {
  width: 100%;
}
ul {
  list-style: none;
}
