@use "../abstracts" as *;

#chat {
  @include page-content(null, $green-cyan, 893px);
  display: grid;
  grid-template-columns: 1fr 251px;
  grid-template-rows: 1fr 175px;
  justify-content: end;
  gap: 10px;
  @media (max-width: 992px) {
    grid-template-columns: 1fr 190px;
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr 1px;
    grid-template-rows: 1fr auto;
  }
  #nav {
    --active: #00db96;
    --inactive: #b6dcb7;
    position: absolute;
    transform: translateY(calc(-100%));
    @media (max-width: 567px) {
      right: 50%;
      transform: translate(50%, calc(-100%));
    }
  }
  #menu-btn {
    display: none;
    z-index: 3;
    position: absolute;
    top: 30%;
    right: -1px;
    transform: translateY(-50%);
    font-size: 16px;
    background-color: $black;
    border: none;
    // padding: 3px;
    width: 22px;
    height: 125px;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    &.active {
      right: 244px;
      width: 16px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: #e10087;
      outline: none;
    }
    @include mq("md") {
      display: block;
    }
  }
  #messages,
  #room,
  #input-field {
    background-color: $silver-chalice;
    // justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  #input-field {
    align-items: end;
    gap: 20px;
    display: flex;
    grid-area: 2/1/2/2;
    padding-bottom: 20px;
    @include mq("sm") {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-inline: auto;
      gap: 10px;
    }
    .editor-wrapper {
      flex: 1;
      @include mq("sm") {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .toolbar {
        background-color: transparent;
        border: none;
        @include mq("sm") {
          display: flex;
          justify-content: center;
        }
      }
      .editor {
        background-color: white;
        border: 1px solid black;
        overflow: auto;
        max-height: 110px;
        padding: 0 15px;
        width: 100%;
        max-width: 700px;
        @include mq("xl") {
          max-width: 500px;
        }
        @include mq("l") {
          max-width: 350px;
        }
        @include mq("sm") {
          max-width: 300px;
          padding: 5px;
          height: 55px;
          * {
            margin: 0;
            padding: 0;
          }
        }
      }
      .rdw-option-wrapper.rdw-option-disabled:nth-last-of-type(1),
      .rdw-option-wrapper.rdw-option-disabled:nth-last-of-type(2) {
        display: none;
      }
      img {
        width: 12px;
      }
    }
    #send {
      padding: 0;
      cursor: pointer;
      // background-color: transparent;
      padding: 5px 10px;
    }
    #info-msg {
      position: absolute;
      display: block;
      margin-left: 20px;
      animation: disappear 2s forwards;
    }
  }
  #messages {
    overflow: auto;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
    .message {
      display: flex;
      align-items: start;
      p {
        word-break: break-all;
      }
      .name {
        margin-right: 15px;
        font-family: $secondary-font-stack;
        position: relative;
        text-wrap: nowrap;
        @media (max-width: 567px) {
          font-size: 20px;
        }
        &::before {
          content: ":";
          position: absolute;
          right: -10px;
        }
        .time {
          font-size: 18px;
          position: absolute;
          bottom: -15px;
          left: 0;
          @media (max-width: 567px) {
            font-size: 18px;
          }
        }
      }
      .text-msg {
        // need to fix the width
        color: $deep-purple;
        line-height: 1.2;
        // width: 100%;
        max-width: 700px;
        @include mq("xl") {
          max-width: 500px;
        }
        @include mq("l") {
          max-width: 350px;
        }
        @include mq("sm") {
          max-width: 300px;
          font-size: 16px;
        }
        p {
          color: $deep-purple;
          line-height: 1.2;
          width: 100%;
          max-width: 700px;
          text-wrap: wrap;
          word-wrap: break-word;
          @include mq("xl") {
            max-width: 500px;
          }
          @include mq("l") {
            max-width: 350px;
          }
          @include mq("sm") {
            max-width: 300px;
            font-size: 16px;
          }
        }
      }
    }
  }
  #room {
    grid-area: 1 / 2 / 3 / 3;
    @media (max-width: 767px) {
      z-index: 2;
      position: absolute;
      display: none;
      width: 250px;
      right: 0;
      height: 100%;
      border-left: 15px solid $green-cyan;
      &.active {
        display: flex;
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    #room-name {
      font-family: $secondary-font-stack;
      text-decoration: underline;
      font-size: 25px;
      margin: 0;
      padding: 0;
      align-self: center;
      margin-bottom: 40px;
    }
    #logout {
      font-family: $secondary-font-stack;
      font-size: 22px;
      padding: 5px 10px;
      background-color: $fuchsia-rose;
      color: $white;
      cursor: pointer;
    }
  }
}

@keyframes disappear {
  0%,
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
